The purpose of this Juptyer Notebook is to refactor the dataset being used to have a NFT name and then a list of wallet addresses that have purchased the NFT collection between 2019 and 2021

The data set we are using is called OpenSea NFT Sales 2019 - 2021. It can be found with this link : https://www.kaggle.com/datasets/bryanw26/opensea-nft-sales-2019-2021

In [1]:
#importing neccessary libraries
import numpy as np
import pandas as pd

In [2]:
#Load in the dataset
data_frame = pd.read_csv('OpenseaData/OpenSea_NFT_Sales_2019_2021.csv', error_bad_lines=False)

C:\Users\Sungyu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_frame.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
0,2019-01-01 15:48:57,7453402,0,NaN,NaN,NaN,NaN,150000000000000000,Ether,4119.5,0,0xf8856124ea157d6f26472e38224ee6744ad13af3,Farm4Ace,0x7ebc7e83cb2b43deafa82eb0ae8b5daea3fe9a13,Uncategorized
1,2019-01-01 23:50:55,7461241,0,NaN,NaN,NaN,NaN,120000000000000000,Ether,4119.5,0,0xf29db2342a9dcb1bba4f7f2b1029bdd8ae5c0668,NaN,0x8691271d453022a447320ed82bcb2a30ba949d03,Uncategorized
2,2019-01-02 16:44:58,7471818,0,NaN,NaN,NaN,NaN,100000000000000000,Ether,4119.5,0,0x057dc43af6187a931e78a56b3293912a5b42e5ec,hagoromo,0xff60e23eb04b76c699e3d180617c3245cbcafd78,Uncategorized
3,2019-01-03 06:31:46,7485269,0,NaN,NaN,NaN,NaN,10000000000000000,Ether,4119.5,0,0x112ab3e7440b6e6b5c0fe0245579755dd78285b3,NaN,0xa58d0065cb381c80db1487e09ec803cd26a26264,Uncategorized
4,2019-01-03 10:31:43,7487454,0,NaN,NaN,NaN,NaN,249580457577544250,Ether,4119.5,0,0x889463ce0946ec870c6e9a5a42a0e85c6d1a20fd,OffTheBlockChainAxies,0x445ba6f9f553872fa9cdc14f5c0639365b39c140,Uncategorized

In [4]:
#Remove NaN rows
data_frame = data_frame.dropna()

In [5]:
data_frame.describe()

                 id      asset.id  payment_token.usd_price  asset.num_sales
count  3.908100e+04  3.908100e+04             39081.000000     39081.000000
mean   7.341302e+07  5.090316e+06              4017.689871         1.816381
std    2.113807e+08  4.636106e+06               386.194552         1.146491
min    7.447194e+06  5.415120e+05                 0.003805         0.000000
25%    9.576488e+06  2.592684e+06              4079.700000         1.000000
50%    1.447471e+07  3.134392e+06              4092.850000         1.000000
75%    3.384795e+07  4.953892e+06              4119.500000         2.000000
max    2.543057e+09  1.172878e+08              4125.580000        19.000000

In [6]:
data_frame.head()

,sales_datetime,id,asset.id,asset.name,asset.collection.name,asset.collection.short_description,asset.permalink,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,seller.user.username,winner_account.address,Category
79808,2019-01-07 08:07:44,7555301,2606925,Changpeng Zhao,10 Most Influential in Blockchain 2018 present...,CoinDesk's Most Influential in Blockchain,https://opensea.io/assets/0x78d2b35af227099139...,458000000000000000,Wrapped Ether,4125.58,3,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,Winchester,0xa00e47c8fbe274ab3c24b08081d661c8536bc80c,Uncategorized
79809,2019-01-08 17:30:55,7573915,2606921,XRP Army,10 Most Influential in Blockchain 2018 present...,CoinDesk's Most Influential in Blockchain,https://opensea.io/assets/0x78d2b35af227099139...,250000000000000000,Wrapped Ether,4125.58,2,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,Winchester,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae,Uncategorized
79810,2019-01-08 17:30:56,7573917,2606910,Changpeng Zhao,10 Most Influential in Blockchain 2018 present...,CoinDesk's Most Influential in Blockchain,https://opensea.io/assets/0x78d2b35af227099139...,750000000000000000,Wrapped Ether,4125.58,2,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,Winchester,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae,Uncategorized
79811,2019-01-10 08:15:49,7608778,2606920,Nouriel Roubini,10 Most Influential in Blockchain 2018 present...,CoinDesk's Most Influential in Blockchain,https://opensea.io/assets/0x78d2b35af227099139...,650000000000000000,Wrapped Ether,4125.58,2,0xc7391970d642faf65fabac8f63b0d41c4481d787,IGMI,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae,Uncategorized
79812,2019-01-11 19:28:12,7637659,2606913,Jeremy Allaire,10 Most Influential in Blockchain 2018 present...,CoinDesk's Most Influential in Blockchain,https://opensea.io/assets/0x78d2b35af227099139...,500000000000000000,Wrapped Ether,4125.58,2,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,Winchester,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae,Uncategorized

In [7]:
#Drop the columns we do not care about. We only care about collection name and winner_account.address, but others might be useful later
# Note : axis=1 means we are dropping the column, not the row.
data_frame = data_frame.drop('sales_datetime', axis=1)
data_frame = data_frame.drop('asset.id', axis=1)
data_frame = data_frame.drop('id', axis=1)
data_frame = data_frame.drop('asset.collection.short_description', axis=1)
data_frame = data_frame.drop('asset.permalink', axis=1)
data_frame = data_frame.drop('seller.user.username', axis=1)
data_frame = data_frame.drop('Category', axis=1)

In [8]:
data_frame.head()

,asset.name,asset.collection.name,total_price,payment_token.name,payment_token.usd_price,asset.num_sales,seller.address,winner_account.address
79808,Changpeng Zhao,10 Most Influential in Blockchain 2018 present...,458000000000000000,Wrapped Ether,4125.58,3,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,0xa00e47c8fbe274ab3c24b08081d661c8536bc80c
79809,XRP Army,10 Most Influential in Blockchain 2018 present...,250000000000000000,Wrapped Ether,4125.58,2,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79810,Changpeng Zhao,10 Most Influential in Blockchain 2018 present...,750000000000000000,Wrapped Ether,4125.58,2,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79811,Nouriel Roubini,10 Most Influential in Blockchain 2018 present...,650000000000000000,Wrapped Ether,4125.58,2,0xc7391970d642faf65fabac8f63b0d41c4481d787,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79812,Jeremy Allaire,10 Most Influential in Blockchain 2018 present...,500000000000000000,Wrapped Ether,4125.58,2,0x3c30e0ce0bd53978d8bae895e6b378e033ed129e,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae

In [10]:
data_frame_minimal = data_frame.drop('asset.name', axis=1)
data_frame_minimal = data_frame_minimal.drop('total_price', axis=1)
data_frame_minimal = data_frame_minimal.drop('payment_token.name', axis=1)
data_frame_minimal = data_frame_minimal.drop('payment_token.usd_price', axis=1)
data_frame_minimal = data_frame_minimal.drop('asset.num_sales', axis=1)
data_frame_minimal = data_frame_minimal.drop('seller.address', axis=1)

In [11]:
data_frame_minimal.head()

,asset.collection.name,winner_account.address
79808,10 Most Influential in Blockchain 2018 present...,0xa00e47c8fbe274ab3c24b08081d661c8536bc80c
79809,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79810,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79811,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79812,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae

In [14]:
#Pandas dataframe.groupby() function is used to split the data into groups based on some criteria
data_frame_right_format = data_frame_minimal.groupby('asset.collection.name')['winner_account.address'].apply(list)

In [15]:
data_frame_right_format.head()

asset.collection.name
10 Most Influential in Blockchain 2018 presented by CoinDesk    [0xa00e47c8fbe274ab3c24b08081d661c8536bc80c, 0...
BlockchainCuties                                                [0x5aeb1fcb423e89f5258bb653569aa671aa68f6e6, 0...
CaesarsTriumph                                                  [0xee8eeec3e7a5ad82827480a9e00d01b1ec0a9f3b, 0...
Chibi Fighters 1.0                                              [0x7977664f1786f4621750f1d4d7fec578ca59912d, 0...
CryptoAssault                                                   [0xf7ee6c2f811b52c72efd167a1bb3f4adaa1e0f89, 0...
Name: winner_account.address, dtype: object

In [17]:
#Note : toexcel writes object to an Excel Sheet
data_frame_right_format.to_excel('OpenSeaSalesDataRightFormat.xlsx')

In [18]:
data_frame_right_format.to_csv('OpenSeaSalesDataRightFormat_csv.csv')

In [19]:
address_to_collections_data_frame = data_frame_minimal.groupby('winner_account.address')['asset.collection.name'].apply(list)

In [21]:
data_frame_minimal.head()

,asset.collection.name,winner_account.address
79808,10 Most Influential in Blockchain 2018 present...,0xa00e47c8fbe274ab3c24b08081d661c8536bc80c
79809,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79810,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79811,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae
79812,10 Most Influential in Blockchain 2018 present...,0xf22f00d0b95b1b728078066e5f4410f6b2be8fae

In [20]:
address_to_collections_data_frame.head()

winner_account.address
0x000000aaee6a496aaf7b7452518781786313400f                                          [Mythereum]
0x0002fd0f1d0708fdf065d3625b2ee83d210d58d9    [MyCryptoHeroes, MyCryptoHeroes, MyCryptoHeroe...
0x0008d343091ef8bd3efa730f6aae5a26a285c7a2    [Ethermon, Ethermon, Ethermon, Ethermon, Ether...
0x000b75fcdc15d41277deb033c72d2c8d774ccced    [CryptoAssault, CryptoAssault, CryptoAssault, ...
0x0013d759a369091f3d2d1d1a516adaf068f67923                       [CryptoAssault, CryptoAssault]
Name: asset.collection.name, dtype: object

In [22]:
address_to_collections_data_frame.to_csv('address_to_collections.csv')